/*
Theme Name: Storefront Child
Theme URI: https://woocommerce.com/storefront/
Template: storefront
Author: Automattic
Author URI: https://woocommerce.com/
Description: Storefront is the perfect theme for your next WooCommerce project. Designed and developed by WooCommerce Core developers, it features a bespoke integration with WooCommerce itself plus many of the most popular customer facing WooCommerce extensions. There are several layout &amp; color options to personalise your shop, multiple widget regions, a responsive design and much more. Developers will love its lean and extensible codebase making it a joy to customize and extend. Looking for a WooCommerce theme? Look no further!
Tags: e-commerce,two-columns,left-sidebar,right-sidebar,custom-background,custom-colors,custom-header,custom-menu,featured-images,full-width-template,threaded-comments,accessibility-ready,rtl-language-support,footer-widgets,sticky-post,theme-options,editor-style
Version: 3.8.1.1632375785
Updated: 2021-09-23 05:43:05
*/

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:wght@100;300;400;700;900&display=swap');

span.price h5 {
   	margin: 0 0 20px 0;
    padding: 0;
    font-weight: bold;
}
span.price h6 {
    margin: 0 0 20px 0;
    padding: 0;
    font-weight: bold;
}

/*#min-cart dl.variation {
    display: none;
}*/

ul.woocommerce-mini-cart.cart_list.product_list_widget > li {
    padding-left: 40px;
}
ul.woocommerce-mini-cart li.woocommerce-mini-cart-item:first-child a.remove.remove_from_cart_button {
    position: absolute;
    top: 28px;
    left: 12px;
}

ul.dropdown-menu.dropdown-menu-mini-cart {
    position: absolute;
    top: 100%;
    left: auto !important;
    right: 0 !important;
    width: 280px;
    /*display: none;*/
}
.user-cart ul {
    display: block;
}
.user-cart ul li {
    margin: 0 0 0 0px;
}
.widget_shopping_cart_content {
    padding: 0px;
}
/*.user-cart ul li a.remove {
    margin-left: auto;
    position: relative;
    */top: -15px;
}
ul.dropdown-menu.dropdown-menu-mini-cart a.button.wc-forward {
    margin-right: 10px;
}
dl.variation p {
    margin-bottom: 0;
}
p.woocommerce-mini-cart__total.total {
    text-align: center;
    padding-top: 1rem;
}
.user-cart ul {
    display: block;
}
.user-cart ul li.woocommerce-mini-cart-item {
    padding: 20px;
    background: #f0f0f0;
}
dl.variation {
    width: 100%;
    display: table;
}
dl.variation p {
    margin-bottom: 0px;
}
p.woocommerce-mini-cart__total.total {
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
    background: #f0f0f0;
    border-bottom: 1px solid #e0dfdf;
}
ul.dropdown-menu.dropdown-menu-mini-cart a.button.wc-forward {
    margin-right: 10px;
    width: 92%;
    margin: 10px 10px;
    text-align: center;
    display: block;
}

ul.icon-class {
    display: flex;
}
.basket-item-count span {
    display: flex;
    background: #96588a;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: -8px;
    right: -8px;
}
ul.icon-class li {
    padding: 5px;
}

/*PRODUCT PAGE CSS*/

.single-product div.product {
    padding: 50px 0px 80px;
}
.single-product div.product .woo-variation-gallery-slider-wrapper {
    border: solid 1px #ddd !important;
}
.single-product div.product .wvg-gallery-thumbnail-image {
    border: solid 1px #ddd;
}
.single-product div.product .summary h2 {
    font-weight: 400;
    margin-bottom: 10px;
}
.single-product div.product .summary {
    font-weight: 400;
}
.single-product div.product .summary h6 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.single-product div.product .summary span, .single-product div.product .summary label , .single_variation_wrap h5 {
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.single-product div.product table.variations select {
    padding: 7px 10px;
    color: #424242;
    background: #efefef;
    border: solid 1px #efefef;
    max-width: 200px;
    width: 100%;
}
.single-product div.product .summary .woocommerce-variation-add-to-cart {
    margin-top: 10px;
    padding: 0px;
}
.single-product div.product .summary .woocommerce-variation-add-to-cart h5 {
    font-size: 18px;
    font-weight: 400;
}
.single-product div.product .summary .woocommerce-variation-add-to-cart button.single_add_to_cart_button {
    background: #424242 !important;
    max-width: 250px;
    width: 100%;
}
.video-product {
    clear: both;
    padding-top: 40px;
}

/*HEADER*/
div.user-cart ul {
    display: flex;
}
div.user-cart ul li {
    margin: 0 0 0 18px;
}
div#secondary {
    margin-top: 20px;
}

.widget .widget-title, .widget .widgettitle {
    font-weight: 600;
    font-size: 1.41575em;
}

.woof_container_inner h4 {
    font-weight: 600;
    text-decoration: underline;
    color: #727272;
}

.hdr-democracy h2 {
    font-family: 'Great Vibes', cursive;
    padding-top: 30px;
}
div#secondary div#text-2 {
    padding: 10px;
    background: #f9f9f9;
}

/*CONTACT*/
.form-c {
    width: 100%;
    border: 4px solid #fff;
    background-color: #eee8f2;
    padding: 20px;
    text-align: initial;
    box-shadow:0px 2px 4px rgba(0,0,0,0.1);
    padding-bottom: 0px;

}
input.wpcf7-form-control {
    margin-top: 5px;
    display: block;
    width: 100%!important;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.wpcf7 form label {
    color: #181818;
    width: 100%;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 0.5rem!important;
}
.wpcf7 textarea{
    background:#fff;
}
.wpcf7 input.wpcf7-form-control.wpcf7-submit {
    width: auto !important;
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}
.wpcf7 p {
    margin: 0 0 5px 0;
}

.form-left-content {
    text-align: left;
}
.form-left-content .logo img {
    margin: 0;
    max-width: 100%;
    margin: 0 0 70px 0;
    border: 4px solid #fff;
    display: inline-block;
    height: auto;
    width: auto !important;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
}

/*WC*/
#customer_details .col2-set .form-row-first {
    width: 44.444444%;
    float: left;
    margin-right: 11.1111111111%;
}
#customer_details .form-row {
    display: -ms-flexbox;
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
#customer_details .col{
background-color: #f8f8f8;
padding-bottom:1px;
}

#customer_details input[type=text], #customer_details input[type=tel],#customer_details input[type=email],#customer_details textarea {
background-color: #ffffff;
padding:5px;
}

#post-9 .col-1 {
    flex: 0 0 8.333333%;
    max-width: 40.333333%;
}
#post-9 .col-2 {
    flex: 0 0 16.666667%;
    max-width: 40.666667%;
}
#post-9 .thmaf-acnt-cus-addr.th-custom-address {
    padding-top: 20px;
    padding-left: 15px;
}

#post-9 label {
    width: 100%;
}

#post-9 span.woocommerce-input-wrapper {
    width: 100%;
}

/*.content-hide {
    display: none !important;
}*/
.nonApproveBrand{
    color: #e2401c;
    text-decoration: none !important;
   
}

.approveBrand{
    color: red;
    text-decoration: none !important;
}

table.woocommerce-checkout-review-order-table .product-name {
    width: 75% !important;
}

.col-1, .col-2{
    max-width: 100% !important;
}

/*.checkout .checkout-hidden{
    display: none !important;
}*/

/*#shipping_brands-description,#shipping_address_approve_by_field{
    display: none !important;
}*/

/*.woocommerce-shipping-fields__field-wrapper{
    pointer-events: none !important;
}
*/