
.slicknav_menu { display: none; } 

.slicknav_nav { clear: both; background: #fff; margin: 0 0 0 0; padding: 15px 0 0 0; } 

.slicknav_nav .slicknav_arrow { color: #7c8086; display: block; position: absolute; right: 15px; top: 0; z-index: 9; } 

.slicknav_nav .slicknav_arrow img { display:inline } 

.slicknav_nav .slicknav_arrow:hover { color: #000 !important; } 

.slicknav_nav .slicknav_item { cursor: pointer; margin: 0; padding: 0; } 

.slicknav_nav .slicknav_row { display: block; } 

.slicknav_nav a { display: block; transition: none; } 

.slicknav_menu:before, .slicknav_menu:after { content: " "; display: table; } 

.slicknav_menu:after { clear: both } 

.slicknav_menu { *zoom: 1 } 

.slicknav_menu { overflow-y: auto; /*margin: 30px 0 0 0; */ } 

.open-more { /*background: url(images/right-arrow.png) no-repeat center;*/ display: block; width: 22px; height: 22px; } 

.close-more { /*background: url(images/dd-arrow.png) no-repeat center;*/ display: block; width: 22px; height: 22px; } 

.slicknav_menu { font-size: 15px; width:100%; } 

.slicknav_menu ul { margin: 80px 0 0 0 !important; padding: 0 0 0 0; width: 100%; /*width: 90%; padding-top:0; position: absolute; left: 0; right: 0; margin: 0 auto; top: 74px; z-index: 50; */ } 

.slicknav_menu ul ul { margin: 0 0 0 0 !important; width: 100%; } 

.slicknav_menu ul li { float: none; font-size: 14px; margin: 0; position: relative; list-style: none; width: 100%; border-bottom: 1px dotted #ccc; } 

.slicknav_menu ul li li { border-bottom: 1px dotted #ccc; } 

.slicknav_menu ul li a { font-size: 16px; padding: 0 20px; line-height:60px; text-align:left; transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; color: #3B3A3A; } 

.slicknav_menu ul li a:hover { background-color:#F07300; color:#fff; } 

.slicknav_menu ul li a i { color: #000; /*background: #e5f6fe; padding: 12px; border-radius: 12px;*/ } 

.slicknav_menu ul li a:hover i { } 

.slicknav_menu ul ul li a { padding: 0px 10px 0 30px; font-size:14px; color: #000; } 

.slicknav_menu ul ul ul li a { padding: 5px 10px 5px 40px; } 

.slicknav_open>a { color: #000; background:#fcfcfc; } 

.slicknav_open a.slicknav_row > a { color: #000 } 

.slicknav_open a.slicknav_row>a.slicknav_row>a { color: #000 } 

.slicknav_menu .current-menu-item > a, .slicknav_menu .current-menu-item > .slicknav_item > a { color:#fff; background:#424242; } 

