@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@900&display=swap');


@font-face {
  font-family: 'ncs_radhiumzregular';
  src: url('ncsradhiumz-rp3x6-webfont.woff2') format('woff2'),
       url('ncsradhiumz-rp3x6-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html { font-size: 16px; }

body { margin: 0 0 0 0; padding: 0; font-size:1rem; font-family: 'Lato', sans-serif; color: #000000; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { line-height: 1; -moz-hyphens: none; -ms-hyphens: none; -webkit-hyphens: none; hyphens: none; }

p, li { -moz-hyphens: none; -ms-hyphens: none; -webkit-hyphens: none; hyphens: none; font-size:1rem; color: #000000; line-height:1.7; }

a, input[type="button"] { font-family: 'Lato', sans-serif; text-decoration: none; transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; }

h1, h2, h3, h4, h5, h6 { line-height:1.4; color:#000000 }

h1 { font-size:2rem; }

h2 { font-size:1.875rem }

h3 { font-size:1.625rem; }

h4 { font-size:1.375rem; }

h5 { font-size:1.125rem; }

h6 { font-size:1rem; }

a:focus { outline:0 none; }

form { margin: 0; padding: 0; }

img { border: 0; -moz-transition: width .5s ease-in-out, left .5s ease-in-out;
-webkit-transition: width .5s ease-in-out, left .5s ease-in-out;
-moz-transition: width .5s ease-in-out, left .5s ease-in-out;
-o-transition: width .5s ease-in-out, left .5s ease-in-out;
transition: width .5s ease-in-out, left .5s ease-in-out;
}

.clr { clear: both; }

a { text-decoration: none; outline:0 none; }

a:hover { text-decoration: none; color:#000; }

a:focus { text-decoration: none; }

a.redirect{ position:absolute; left:0; height:100%; width:100%; top:0; z-index: 10;}

* { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }

/* * * * * INPUT * * * * */

input[type="file"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus { outline: 0 none; outline-offset: 0px; }

button { outline: 0 none; }

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="search"], select, textarea { font-family: 'Lato'; outline:0 none }

textarea { resize:none }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
}

/* * * * * HTML 5 FIX * * * * */

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video { display: block; margin: 0; padding: 0 }

.nospace .vc_column_container > .vc_column-inner { padding-left: 0px; padding-right: 0px; }

.asterik { color: #da291c; }

/* * * * * VISUAL COMPOSER CUSTOMIZATION * * * * */

.bottom-zero-m .wpb_content_element { margin-bottom: 0 !important; }

.grecaptcha-badge { display:none !important; }

.wpcf7-mail-sent-ok { display: none !important; }
 @media only screen and (max-width:767px) {

html{font-size: 14px;}

/*h1 {
font-size:4rem
}
 h2 {
font-size:2.4rem
}*/
}
 @media only screen and (min-width:769px) {
 .bottom-zero .wpb_content_element,  .bottom-zero {
margin-bottom: 0 !important;
}
}
