
/* Layout */

/* Topheader */

.desktop-delimiter { height: 137px; display: block !important; width: 100%;  } 

.topheader { top: 0; left: 0; width: 100%; z-index: 10; position: fixed; -webkit-transition: all .5s ease; -moz-transition: all .1s ease; -ms-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; padding:24px 0; background:#fff } 

.logo { margin: 0 } 

.logo img { margin: 0; width: 135px } 

.topheader.stickyhead { position: fixed; top:0; width: 100%; z-index: 1030; padding:15px 0; box-shadow: 0 8px 20px 0 rgba(0,0,0,0.1); -webkit-transition: all .1s ease; -moz-transition: all .1s ease; -ms-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; } 

.topheader.stickyhead .logo img { width: 135px; -moz-transition: width .5s ease-in-out, left .5s ease-in-out; -webkit-transition: width .5s ease-in-out, left .5s ease-in-out; -moz-transition: width .5s ease-in-out, left .5s ease-in-out; -o-transition: width .5s ease-in-out, left .5s ease-in-out; transition: width .5s ease-in-out, left .5s ease-in-out; } 

/* Shape Size */

.shape:after { content: ""; position: absolute; left: 0; width: 100%; clip-path: polygon(0 0, 100% 0%, 100% 0%, 50% 100%, 0% 0%); z-index: 0; } 

.shape-blue:after { background: #01112A; } 

.shape-light-blue:after { background: #f2f7fb; } 

.shape-sky-blue:after { background: #0060AC; } 

.shape-size-1:after { height: 65px; bottom: -64px; } 

.shape-size-2:after { height: 128px; bottom: -127px; } 



.logofrm { display: flex; position: relative; align-items: center; justify-content: space-between } 

.rt-bar{ margin:0; position:relative}

.user-cart{ margin:0 0 0 0; padding:0; position:absolute; right:0; top:0; z-index:1}

.user-cart ul{ margin:0; padding:0; display:flex}

.user-cart ul li{ margin:0 0 0 20px; padding:0; list-style-type:none;}

.user-cart ul li a{ margin:0}

/* Toplinks */


.toplinks { margin: 60px 0 0 0; padding: 0 } 

.toplinks ul { padding: 0; margin: 0 } 

.toplinks ul li { padding: 0; display: inline-block; margin: 0 0 0 20px; list-style-type: none; position: relative } 

.toplinks ul li a { color: #000000; font-family: 'Lato'; margin: 0; position:relative; display:block; font-size:1rem; text-decoration: none; } 


/*.toplinks ul li.menu-item-has-children > a:after { content: "\f078"; color:#fff; font-family: 'FontAwesome'; font-size:7px; vertical-align:middle } */

.toplinks ul li a:hover, .toplinks ul li.current-menu-item > a, .toplinks ul li a:hover, .toplinks ul li a:hover:after, .toplinks ul li:hover > a, .toplinks ul li:hover > a:after { color: #F07300 } 

.toplinks ul ul { background: #fff; box-shadow: 0px 3px 20px #0000000A; position: absolute; left: 0; width: 220px; z-index: 100; transition: all 0.5s ease-in-out 0s; -moz-transition: all .5s ease-in-out 0s; -webkit-transition: all 0.5s ease-in-out 0s; -o-transition: all 0.5s ease-in-out 0s; visibility: hidden; opacity: 0; transform: translateY(1em); transition-delay: 0s, 0s, 0s } 

.toplinks ul li:hover>ul { visibility: visible; opacity: 1; z-index: 999999; transform: translateY(0%); transition-delay: 0s, 0s, 0.5s; } 

.toplinks ul ul li { display: block; float: none; margin: 0; padding: 0; position: relative; border-bottom: 1px solid #e7e7e7; } 

.toplinks ul ul li:last-child { border-bottom:none } 

.toplinks ul ul li a { padding: 10px; font-size:14px; text-align: left; letter-spacing:0; font-weight:normal; display: block; text-transform: none; color:#121C35 } 

.toplinks ul ul li a:hover{ color: #fff; background-color:#F07300; } 

.toplinks ul ul ul { left: 100%; margin: 0; top: 0; } 

/* Banner */

.banner-w { padding:0 0 0 0; min-height:600px } 

/* About */

.about-w{ padding:30px 0; text-align:center}

.about-w h2, .vob-w h2{ text-align:center; margin:0 0 15px 0; padding:0; text-transform:uppercase}

.about-w p{ margin:0 0 25px 0;}

.about-w p:last-child{ margin-bottom:0}

/* View Our Brands */

.vob-w{ padding:0 0 30px 0;}

.vob-w h2{ text-align:center; margin:0 0 25px 0; padding:0; text-transform:uppercase}

.img-vob{ margin:0 auto 10px auto; max-width: 400px;}

.img-vob img{ width:100%}

.brand-vob{ margin:0 auto 30px; max-width:300px}

/* Footer */

footer{ background:#707070; padding:40px 0}

.sm-icon{ margin:0;}

.sm-icon ul{ margin:0; padding:0; text-align:center}

.sm-icon ul li{ margin:0 10px; padding:0; display:inline-block; list-style-type:none}

.sm-icon ul li a{ margin:0; padding:0}

.sm-icon ul li a img{ width:auto; height:32px}

.f-links{ text-align:center; margin:30px 0 0 0; padding:0}

.f-links ul{ margin:0; padding:0; text-align:center}

.f-links ul li{ margin:0px; padding:0; display:inline-block; list-style-type:none; color:#fff}

.f-links li:after{ content:"|"; margin-left:5px; margin-right:5px}

.f-links li:last-child:after{ content:" ";}

.f-links a{ margin:0 0; color:#fff}

.f-links a:hover{ border-bottom: 1px solid #fff;}



footer p{ text-align:center; margin:20px 0 0 0; color:#fff}

.hdr-democracy, .hdr-uniforms, .hdr-classified{ background:#EFEFEF; text-align:center; min-height: 300px; display: flex; align-items: center; justify-content: center; padding-top: 15px;}

.hdr-democracy h2{font-family: 'Great Vibes', cursive; margin:0; font-size:180px; padding:0; color:#AC9F99}

.hdr-uniforms h2{font-family: 'Spartan', sans-serif; margin:0; font-size:150px; padding:0; color:#AC9F99}

.hdr-classified h2{ font-family: 'ncs_radhiumzregular'; margin:0; font-size:120px; padding:0; color:#AC9F99; text-transform: uppercase;}



/* Lookbook Product */

.lookbook-product-w{ padding:30px 0}

.lookbook-product-w h2{ text-align:center; margin:0 0 25px 0; padding:0; text-transform:uppercase}

.select-category{ margin:0 auto; max-width:364px}

.select-category label{ margin:0 0 5px 0; padding:0; display:block; color:#000}

.select-category select{ width:100%; background:#fff; border:1px solid #CCCCCC; border-radius:0; padding:5px}

.img-product-lookbook{ margin:0 0 20px 0}

.img-product-lookbook img{ width:100%}

.product-lookbook{ margin-top:40px;}

.product-lookbook h5{ margin:0 0 20px 0; padding:0; font-weight:bold}

.product-lookbook h6{ margin:0; padding:0; font-weight:bold}

.product-column{ position:relative; margin-bottom:30px}

.lookbook-product-d-w{padding:60px 0}

.img-product-d{ margin:0}

.img-product-d img{ width:100%}

.lookbook-product-d-w h2, .lookbook-product-d-w h6{ margin:0 0 15px 0}

.lookbook-product-d-w h5{ margin:0 0 25px 0}

.descr{ margin:0; padding:0}

.descr ul{ margin:0; padding:0}

.descr ul li{ margin:0 0 15px 0; list-style-type:none; padding:0}

.product-d{ margin:0}

.video-product{ margin:30px 0 0 0}

.video-product img{ width:100%}

.cc-w{ padding:30px 0}

.img-cc{ margin:0}

.img-cc img{ width:100%}

.info-cc{ text-align:center; margin:30px 0}

.info-cc h5{ font-size:1.25rem; margin:0 0 10px 0; padding:0; font-weight:normal}

.info-cc p{ margin:0 0 10px 0}

.info-cc a, .ss-2021 a{ text-decoration:underline; color:#6A6A6A}

.ss-2021{ padding:30px 0}

.ss-2021 h2{ text-align:center; margin:0 0 25px 0; font-weight:normal; padding:0; text-transform:uppercase}

.ss-2021 h3{ text-align:center; margin:0 0 35px 0; font-weight:normal; padding:0; }

.ss-2021 p{ margin:0; padding:0; font-size:1.125rem; text-align:center}

.img-ss{ margin:0 0 15px 0}

.img-ss img{ width:100%}

.cc-grid{ display:flex; flex-wrap:wrap}

.left-cc{ width:40%; margin-right:5%}

.right-cc{ width:55%;}

