@media only screen and (min-width:1280px){
 .container { max-width: 1160px; margin: 0 auto !important; } 
 }

@media only screen and (max-width:1200px){
 .toplinks ul li { margin-left:10px } 

.toplinks ul li a { font-size:13px } 
 }

@media only screen and (max-width:991px){
 .desktop-delimiter { height: 94px; } 

.topheader, .topheader.stickyhead { padding:25px 0 } 

.topheader.stickyhead .logo img { margin: 0; width: 100px } 

.logo { position: absolute; left: 0; top:-10px } 

.logo img { width:100px } 

.user-cart { position:absolute; right:60px; top:8px } 

.hdr-democracy, .hdr-uniforms, .hdr-classified { min-height: 200px; } 

.hdr-democracy h2, .hdr-uniforms h2, .hdr-classified h2 { font-size:80px } 

.brand-vob { margin-bottom:60px } 

.info-cc { width:100% } 


/* * * * Slick Nav start * * * */
.toplinks { padding: 0; margin: 0 } 

.js #menu,
.js #tnav { display: none; } 

.js .slicknav_menu { display: block; } 

.slicknav_btn { display: block; margin: 10px 0 10px 0; float: right; cursor: pointer; position: relative; width: 30px; z-index: 888; box-shadow: 0 0 3px (0, 0, 0, 0.3); } 

.avaeb-w .slicknav_btn { /* background: url(../images/nav-button1.png) no-repeat center; */ position: absolute; top: 0px; right: 10px; display: block; float: right; margin: 10px 10px 10px 0; cursor: pointer; overflow: hidden; height: 35px; width: 30px; z-index: 999999; box-shadow: 0 0 3px (0, 0, 0, 0.3); } 

.slicknav_btn.slicknav_open { /* background: url(../images/close-nav-button.svg) no-repeat center; Close icon */ color: #fff; z-index: 999999; top: 10px } 

.slicknav_menutxt { display: none; } 

.toplinks ul li:hover>ul { display: none } 

.slicknav_btn .slicknav_icon-bar { border: 1px solid #000; float: left; margin: 3px 0; width: 100%; position: relative; transition: all .5s ease-in-out; } 

.slicknav_btn.slicknav_open span:nth-child(1) { position: relative; transform: rotate(45deg) } 

.slicknav_btn.slicknav_open span:nth-child(3) { opacity: 0 } 

.slicknav_btn.slicknav_open span:nth-child(2) { transform: rotate(-45deg); top: -8px; } 

}

@media only screen and (max-width:767px) {

 .hdr-democracy h2 { font-size:50px } 

 .hdr-uniforms h2, .hdr-classified h2 { font-size:40px } 

.lookbook-product-d-w { padding:30px 0 } 

.left-cc, .right-cc { width:100%; } 

.left-cc { margin:0 0 30px 0 } 

}
